<footer>
  <div class="col-xs-12" style="height:30px;"></div>
  <div class="container">
    <div class="copyright">
      &copy; Monash Immersive Visualisation Platform 2017. All Rights Reserved.
    </div>
  </div>
  <div class="col-xs-12" style="height:30px;"></div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/jquery.smartmenus.min.js" type="text/javascript"></script>

{% if page.slideshow == true %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.6/galleria.min.js"></script>
<script>
  Galleria.configure({
    imageCrop: true,
    transition: 'fade',
    showInfo: true,
    autoplay: 7000,
    height: 400//0.5625
  });
  Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.6/themes/classic/galleria.classic.js');
  Galleria.run('.galleria');
</script>
{% endif %}

<script>
  $(function() {
    $('#main-menu').smartmenus();
  });
</script>

{% for script in page.abs-scripts %}
<script src="{{script}}"></script>
{% endfor %}
{% for script in page.scripts %}
<script src="{{site.url}}{{site.baseurl}}/assets/js/{{script}}"></script>
{% endfor %}
