<header>

<div class="container">

  <div class="col-xs-12" style="height:10px;"></div>

  <div class="logo">
    <a href="{{ site.url }}/{{site.baseurl}}"><img class="img-logo" src="{{ site.baseurl }}/assets/imgs/branding/MIVP-draft-Rev_CMYK-grey-v3-980px.png" alt="logo" /></a>
  </div>

  <div class="col-xs-12" style="height:10px;"></div>

  <nav>
    <ul id="main-menu" class="sm sm-blue">
      <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
      <li><a href="#">Facilities</a>
        <ul>
          <li><a href="#">CAVE2</a></li>
          <li><a href="#">Head-mounted VR</a></li>
        </ul>
      </li>
      <li><a href="#">Access</a>
        <ul>
          <li><a href="#">Tours/Demos</a>
            <ul>
              <li><a href="#">Book a tour or demontration</a></li>
              <li><a href="#">Review tour content</a></li>
            </ul>
          </li>
          <li><a href="#">Access modes</a></li>
          <li><a href="#" >Acknowledgements</a></li>
        </ul>
      </li>
      <li><a href="#" >Visualisation</a>
        <ul>
          <li><a href="#" >Getting started</a></li>
          <li><a href="#" >Programming CAVE2</a></li>
          <li><a href="#" >Reading list and references</a></li>
        </ul>
      </li>
      <li><a href="{{site.baseurl}}/news" >News</a>
        <ul>
          <li><a href="{{site.baseurl}}/news" >Newsfeed</a></li>
          <li><a href="{{site.baseurl}}/presentations.html" >Presentations</a></li>
        </ul>
      </li>
      <li><a href="#" >People</a></li>
      <li><a href="#" >Partners</a></li>
    </ul>
  </nav>

</div>


</header>
