<div class="container">
  <div class="col-xs-12" style="height:15px;"></div>
  <div class="galleria">
    <a href="{{site.baseurl}}/assets/imgs/slideshow/1.jpg"><img src="{{site.baseurl}}/assets/imgs/slideshow/thumb/1.jpg"
      data-title="SAGE2"
      data-description="Computer scientists use SAGE2™ to view documents and a 5-Million atom molecular dynamics nanoscale simulation of a glass fissure computed on the Argonne National Laboratory’s Leadership Computing Facility and displayed in the UIC Electronic Visualization Laboratory’s CAVE2™ Hybrid Reality Environment. (Photo: Lance Long)">
    </a>

    <a href="{{site.baseurl}}/assets/imgs/slideshow/2.jpg"><img src="{{site.baseurl}}/assets/imgs/slideshow/thumb/2.jpg"
      data-title="The Melbourne Shrine"
      data-description="The Melbourne Shrine Point Cloud (courtesy Aleks Baltovski, ProBuild)">
    </a>

    <a href="{{site.baseurl}}/assets/imgs/slideshow/3.jpg"><img src="{{site.baseurl}}/assets/imgs/slideshow/thumb/3.jpg"
      data-title="The human connectome"
      data-description="Monash e-Research Director Prof Paul Bonnington experiences 3-d immersion in the human connectome, using the Monash CAVE2™. (Photo: Paul Jones)">
    </a>

    <a href="{{site.baseurl}}/assets/imgs/slideshow/4.jpg"><img src="{{site.baseurl}}/assets/imgs/slideshow/thumb/4.jpg"
      data-title="CAVE2 CAD model"
      data-description="Before Monash University built out their Immersive Visualization Platform, they wanted to see a CAD model of the UIC Electronic Visualization Laboratory’s CAVE2™ Hybrid Reality Environment in their space. This convinced Monash to add two extra columns and build a bigger CAVE2™ system. (Model: Jonas Talandis)">
    </a>

  </div>
</div>
